body{
    background-color:#221810;
    color: white;
}
hr{
    border: solid, 1px, rgba(255, 255, 255, 0.06);
}

header{
    display: grid;
    grid-template-columns:15rem 15rem 15rem;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 1.5rem;
    a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    
}
.tituloPrecio{
    text-align: center;
    font-size: 2.5rem;
}
.botonesPrecio{
    border: none;
    margin: 1rem;
    padding: 0.9rem;
    width:12.8rem ;
    border-radius: 0.6rem;
    font-size: 1rem;
    color: white;
    background: #d46211;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tableta{
    border: solid 2px rgba(255, 255, 255, 0.06);
    border-radius: 1rem;
    padding: 1rem;
    width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}
.titulo{
    font-size: 2.5rem;
    margin-bottom: 0;
}
.parrafos{
    font-size: 1.2rem;
    margin-right: 22rem;
    text-align: right;
}
.parrafosDos{
    font-size: 1.2rem;
    margin-right: 20rem;
    text-align: right;
}
.productos{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.572);
    margin: 0.5rem auto;
    padding: 1rem;
    width: 27rem;
    border-radius: 0.6rem;
    background: none;
    border: solid 2px rgba(255, 255, 255, 0.06)
}
option{
    color: black;
}
.cantidad{
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
    width: 25rem;
    border-radius: 0.6rem;
    background: none;
    border: solid 2px rgba(255, 255, 255, 0.06);
}
.botones{
    border: none;
    margin: 1rem;
    padding: 0.9rem;
    width:12.8rem ;
    border-radius: 0.6rem;
    font-size: 1rem;
    color: white;
    background: #d46211;
}
.otros{
    margin-bottom: 3rem;
    color:rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    text-align: center;
}
.total{
    background: #d462113c;
    margin-left: 1.5rem;
    width: 27rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
    border-radius: 0.6rem;
}
.precio{
    margin-top: 0px;
    color: #d46211;
}
.precioT{
    margin-bottom: 3px;
}
.paletas{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 5rem;
    
}
.productoag{
    font-size: 1.3rem;
    margin: 1.5rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    padding: 5px;
}
#productosAg{
    background: #e5dfdb10;
    width: auto;
    padding: 0.1rem;
    border-radius: 0.6rem;
    margin: 1rem;
}

@media (max-width: 767px){
    .tableta{
    border: solid 2px rgba(255, 255, 255, 0.06);
    border-radius: 1rem;
    padding: 1rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    }
    .paletas{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap:2rem;
    }
    .titulo{
    font-size: 1rem;
    margin-bottom: 0;
    }
    .parrafos{
    font-size: 1rem;
    margin-right: 1rem;
    text-align: right;
}
.parrafosDos{
    font-size: 1rem;
    margin-right: 0.1rem;
    text-align: right;
}
.productos{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.572);
    margin: 0.5rem auto;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.6rem;
    background: none;
    border: solid 2px rgba(255, 255, 255, 0.06)
}
.cantidad{
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
    width: 17rem;
    border-radius: 0.6rem;
    background: none;
    border: solid 2px rgba(255, 255, 255, 0.06);
}
.botones{
    border: none;
    margin: 1rem;
    padding: 0.9rem;
    width:6rem ;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    color: white;
    background: #d46211;
}
.total{
    background: #d462113c;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
    border-radius: 0.6rem;
    margin-left: 5rem;
}
.precioT{
    margin-bottom: 3px;
    font-size: 1rem;
}
.precio{
    margin-top: 0px;
    color: #d46211;
    font-size: 1rem;
}
.productoag{
    font-size: 1rem;
    margin: 1rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    padding: 5px;
}
.botonesPrecio{
    border: none;
    height: 4.5rem;
    width: 6rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    color: white;
    background: #d46211;
}
header{
    display:grid;
    grid-template-columns: repeat(3, 5rem);
    gap: 1.5rem;
}
}