body{
    background: linear-gradient(#63a9f8, #84a98c);
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.tituloUno{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin: 40px;
} 

.tituloDos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.boton{
    height: 60px;
    width: 210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
}

.botonDos{
    height: 60px;
    width: 210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    margin: 20px;
}

.total{
    font-size: 25px;
    border: 2px solid black;
    border-radius: 20px;
}

.div{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.divDos{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    align-items: start;
    gap: 20px;
}

@media(max-width: 400px){
    p{
        font-size: 10px;
        margin: 5px;
    }
    .tituloUno{
        font-size: 30px;
        margin: 20px
    }

    .tituloDos{
        font-size: 10px;
        margin: 30px;
    }
    .boton{
        height:50px;
        width: 100px;
        font-size: 10px;
    }
    .botonDos{
        height: 50px;
        width: 100px;
        margin: 10px;
        font-size: 10px;
    }
    .total{
        font-size: 15px;
    }
    .div{
        grid-template-columns: repeat(3,1fr);
    }
    .divDos{
        grid-template-columns: repeat(2,1fr);
    }
    
}