body{
    background: linear-gradient(#cad2c5, #84a98c);
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    height: 911px;
    width: 1fr;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.tituloUno{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin: 40px;
} 

.tituloDos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.boton{
    height: 60px;
    width: 210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
}

.botonDos{
    height: 60px;
    width: 210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    margin: 20px;
}

.total{
    font-size: 25px;
    border: 2px solid black;
    border-radius: 20px;
}

.div{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.divDos{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    align-items: start;
    gap: 20px;
}